body {
  background-color: rgb(235, 242, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1,
h3 {
  color: red;
  text-align: center;
}

h1 {
  margin-bottom: 70px;
}

.pictures img {
  margin: 70px 140px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  border: 5px solid black;
  border-radius: 6px;
}

.container {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  margin: 15px 40px;
}

.header-left {
  display: flex;
  gap: 1rem;
}

.header-right {
  display: flex;
  gap: 7rem;
  margin-top: 30px;
}

.header-img {
  height: 150px;
  width: 150px;
  border-radius: 6px;
  padding: 4px;
}

.header-hakkimizda select {
  border: 0px;
  background-color: transparent;
  font-size: 23px;
}

.header-iletisim a,
.pictures a {
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  height: 50%;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content img {
  text-align: center;
  width: 1200px;
  height: 700px;
  /* z-index: 1; */
  position: absolute;
  display: none;
  border-radius: 5px;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  opacity: 0;
}

.content img.active {
  display: block;
  /* padding-bottom: 100px; */
  box-shadow: 0px 0px 20px blueviolet;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content img.rotate {
  animation: rotate 2s linear;
}

/* pictures.html */

.pictures {
  text-align: center;
}

.pictures h3 {
  text-align: center;
  color: #000;
}

.pictures img {
  text-align: center;
  width: 1000px;
  height: 650px;
}

/* iletisim.html */
.header-iletisim select,
.header-iletisim a,
div {
  font-size: 26px;
  color: black;
  background-color: transparent;
  border: none;
}

.iletisim-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.iletisim-container img {
  width: 800px;
  height: 600px;
}

/* mobile responsive */

/* Media query for tablets (up to 768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: max-content;
    padding: 60px;
    margin: 0 149px;
  }

  .header-left,
  .header-right {
    flex-direction: column;
    align-items: center;
  }

  .header-img {
    height: 100px;
    width: 100px;
  }

  .header-right {
    gap: 1rem;
  }

  .container {
    top: 5%;
    margin: 15px 20px;
    bottom: 100px;
  }

  .content {
    margin: 0px 100px;
    width: initial;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .pictures img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  .iletisim-container img {
    width: 100%;
    height: auto;
  }
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {
  h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .header {
    padding: 0 35px;
    width: max-content;
    margin: 0 50px;
  }

  .header-img {
    height: 80px;
    width: 80px;
  }

  .header-hakkimizda select {
    font-size: 18px;
  }

  .header-iletisim select,
  .header-iletisim a {
    font-size: 20px;
  }

  .container {
    top: 5%;
    margin: 10px 10px;
  }

  .content {
    margin: 0 25px;
    width: auto;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .pictures img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .iletisim-container img {
    width: 100%;
    height: auto;
  }
}

/* Media query for small mobile devices (up to 320px) */
@media (max-width: 320px) {
  h1 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .header-img {
    height: 60px;
    width: 60px;
  }

  .header-hakkimizda select {
    font-size: 16px;
  }

  .header-iletisim select,
  .header-iletisim a {
    font-size: 18px;
  }

  .container {
    top: 5%;
    margin: 5px 5px;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .pictures img {
    width: 100%;
    height: auto;
    margin: 5px 0;
  }

  .iletisim-container img {
    width: 100%;
    height: auto;
  }
}
